.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #FFD369;
}

html, body {
  background: url("./assets/seattle-skyline-photographer-jeff-boyce-12th-man1.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #EEEEEE;
  margin: 0;
  padding: 0;
  
}
*, *::after, *::before {
  box-sizing: border-box;
}
body {
  
  /* display: flex; */
  font-family: 'Futura';
  src: local('Futura'), url(./assets/fonts/futur.ttf) format('truetype'); 
  height: 100vh;
  text-rendering: optimizeLegibility;
}


