body {
  margin: 0;
  font-family: 'Futura';
  src: local('Futura'), url(./assets/fonts/futur.ttf) format('truetype'); 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
